body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2E2F42;
}

.link {
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.unordered-list {
  list-style-type: none;
}

*:focus {
  outline: none;
}

.brand-name {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4D5AE5;
}

.brand-name-accent-dark {
  color: #2E2F42;
}

.navigation-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404BBF;
}

.contact-link {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404BBF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-section {
  background-color: #2E2F42;
}

.tagline {
  color: #FFFFFF;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.action-button {
  background-color: #4D5AE5;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.action-button:hover,
.action-button:focus {
  background-color: #404BBF;
}

.advantage-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.advantage-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: #434455;
}

.section-heading {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-section {
  background-color: #F4F4FD;
}

.team-member-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
}

.team-member-role {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.filter-button {
  background-color: #F4F4FD;
  color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #404BBF;
  color: #FFFFFF;
}

.project-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.project-type {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

footer {
  background-color: #2E2F42;
}

.brand-name-accent-light {
  color: #F4F4FD;
}

.footer-text {
  color: #F4F4FD;
  line-height: 1.5;
  letter-spacing: 0.02em;
}