body {
    font-family: 'Roboto', sans-serif;
    color:#000;
}

.site-header {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 72px;
}

.site-header a.logo {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    line-height: normal;
    color: #000; 
}

.site-header nav ul,
.site-header address ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-header nav ul li,
.site-header address ul li {
    margin: 0 10px;
}

.site-header a {
    text-decoration: none;
    color: #000;
    line-height: normal; 
}

.site-header :hover {
    color: #404BBF;
}

.hero-container {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
}

.btn {
    background-color: #4D5AE5;
    color: #FFFFFF;
    width: 169px;
    height: 56px;
    font-size: 16px;
    letter-spacing: 4%;
    line-height: 1.5;
    font-weight: 500;
}

.btn:hover {
    background-color: #404BBF;
}

.adress {
    font-weight: 400; 
    letter-spacing: 2%;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
}

.pages {
    font-weight: 500;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5; 
    letter-spacing: 2%;
}

.logo-color {
    color: #4D5AE5;
}

.footer-container {
    width: 1440px;
    height: 312px;
    background-color: #2E2F42;
}

.footer-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-decoration: none; 
}

.footer-logo-white {
    color: #FFFFFF;
}

.btn-portfolio {
    color: #4D5AE5;
    background-color: #F4F4FD;
    font-size: 16px;
}

.btn-portfolio:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}

ul {
    list-style-type: none; 
}

h1 {
    color: #FFFFFF;
    font-weight: 700; 
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 1.07;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17; 
    letter-spacing: 4%;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}

